server/node_modules/
client/node_modules/

# Ignore build or dist folders
server/build/
client/build/
server/dist/
client/dist/

# Ignore environment files
server/.env
client/.env





# # 
# i want some other features as well like chat notificatoin on chat icon on navbar and post notification on bell icon on navbar.
# also chats should be sorted according to the latest chat.

